<h2>Добавление нового объявления</h2>
<form class="form-horizontal" name="myForm" ng-submit="submit()">
    <div class="form-group">
        <div class="col-sm-5"><input type="text" class="form-control" placeholder="Название" required ng-model="name"></div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-5"><textarea class="form-control" placeholder="Описание" required ng-model="desc"></textarea></div>
    </div>
    <div class="form-group">
        <div class="col-sm-5"><input type="number" class="form-control" placeholder="Цена в рублях" required ng-model="price" min="0"></div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <select class="form-control" ng-model="category" ng-options="item as item.name for item in menu track by item.pattern" required>
                <option value="">-- Укажите категорию --</option>
            </select>
        </div>
    </div>
    <div class="form-group">
         <div class="col-sm-5">
            <div ngf-drop ngf-select ngf-change="getPrev($files)" ngf-keep="distinct" class="drop-box" 
                 ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', pattern:'image/jpeg'}" ngf-multiple="true" ngf-allow-dir="true"
                 accept="image/jpeg" ngf-accept="'image/jpeg'" ngf-capture="'camera'"
                 ngf-valid-only>Перетащите сюда изображения для объявления<br>или<br>нажмите по этой области</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5" sv-root sv-part="newImages" sv-on-sort="replacePrevs($indexFrom,$indexTo)">
            <div sv-element ng-repeat="img in newImages" class="thumbnail imgloadingthumb" ng-class="{'mainpic':$index===0}" ng-style="{'background':'url('+imgSrc[$index]+') 100% 100% no-repeat'}">
                <button type="button" style="width:100%" class="btn btn-link" ng-click="removeItem($index)"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5"><button type="submit" class="btn btn-success" ng-disabled="loading">Сохранить</button></div>
    </div>
    <div class="form-group" ng-show="loading">
        <div class="col-sm-5">
            Идет загрузка...
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="loadedImage*100/newImages.length" aria-valuemin="0" aria-valuemax="100" style="width: {{loadedImage*100/newImages.length}}%;">
                    <span class="sr-only">{{loadedImage*100/newImages.length}}% Complete</span>
                </div>
            </div>
        </div>
    </div>
</form>