<div>
    <h2>
        {{categoryName}}
        <span ng-show="query">, Поисковой запрос:  {{query}}</span>
    </h2>
	
	<p>
		сортировать по: 
        <select ng-model="sortby" class="">
            <option value="date">дате</option>
            <option value="priceup">цене ↑</option>
            <option value="pricedown">цене ↓</option>
            <option value="name">названию</option>
        </select>
	</p>
</div>

<div ng-repeat="item in ads"  ng-class="{'checked':item.checked}">
	<div class="row">
		
	<div class="col-md-3 col-xs-6">
		<a href="{{adsDetailsAddressPattern}}{{item._id._str}}" class="thumbnail">
			<img  class="img-rounded" ng-src="{{item.img}}" alt="...">
		</a>
	</div>
	
	<div class="col-md-9 col-xs-6">
		<p>
			<a  ng-href="#">{{item.author}}</a>: {{item.name}}
		</p>
		<dl><dt>Описание: </dt> <tt> {{item.desc}}</tt></dl>
		<dl class="dl-horizontal"> <dt>Цена: </dt> <tt> {{item.price}}руб.</tt></dl>
		<dl class="dl-horizontal"> <dt>Дата: </dt> <tt> {{item.date}}</tt></dl>
	</div>

</div>
</div>
<nav class="pages">
	<ul class="pagination">
		<li ng-show="currentPage!=1">
			<a href="{{adsListAddressPattern}}{{currentPage*1-1}}{{query==''?'':'?q='+query}}{{'?sortby='+sortby}}" aria-label="Previous"><span class="glyphicon glyphicon-chevron-left"></span></a>
		</li>

		<li ng-repeat="n in [] | range:lastPage" ng-class="{'active': n==currentPage}">
			<a href="{{adsListAddressPattern}}{{n}}{{query==''?'':'?q='+query}}{{'?sortby='+sortby}}">
				<span class="sr-only" ng-show="n==currentPage">
				что тут??
				</span>
				{{n}}
			</a>
		</li>

		<li ng-show="currentPage!=lastPage && lastPage!=0">
			<a href="{{adsListAddressPattern}}{{currentPage*1+1}}{{query==''?'':'?q='+query}}{{'?sortby='+sortby}}" aria-label="Next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</li>

	</ul>
</nav>