<div>
    <h2>
        {{categoryName}}
        <span ng-show="query">, Поисковой запрос:  {{query}}</span>
    </h2>
	
	<p>
		сортировать по: 
        <select ng-model="sortby" class="">
            <option value="date">дате</option>
            <option value="priceup">цене ↑</option>
            <option value="pricedown">цене ↓</option>
            <option value="name">названию</option>
        </select>
	</p>
</div>

<div ng-repeat="item in ads"  ng-class="{'checked':item.checked}">
	
	<div class="row la">
		
	<div class="col-md-2 col-xs-12 ">
		<a href="{{adsDetailsAddressPattern}}{{item._id._str}}" class="thumbnail">
			<img  class="img-rounded" ng-src="/img/pic2.jpg" alt="...">
		</a>
	</div>
	
	<div class="col-md-10 col-xs-9">
		<p class="first">
			<div class="row">
				<div class="col-md-9 col-xs-12 col-lg-9">
			<a  ng-href="#"><span class="lead ">{{item.name}}</span></a>
				</div>
				<div class="col-md-3  col-xs-12 col-lg-offset-1 col-lg-2">
			<kbd class="price">{{item.price}}<span class="glyphicon glyphicon-ruble" aria-hidden="true"></span> </kbd>
				</div>
		
			</div>
			</p>
		<hr class="bord">
			
				
				<div class="name">
					<p class="text-muted">{{item.date}}
					<div class="col-xs-12">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				
					
						<a  class="auth" href="#">{{item.author}}</a>
					
				</div>
					</p>
				
			</div>
			
			<p class="text-muted tx">{{item.desc}}</p>
			
			
				
			
	</div>

</div>

</div>

<nav class="pages">
	<ul class="pagination">
		<li ng-show="currentPage!=1">
			<a href="{{adsListAddressPattern}}{{currentPage*1-1}}{{'?sortby='+sortby}}{{query==''?'':'&q='+query}}" aria-label="Previous"><span class="glyphicon glyphicon-chevron-left"></span></a>
		</li>

		<li ng-repeat="n in [] | range:lastPage" ng-class="{'active': n==currentPage}">
			<a href="{{adsListAddressPattern}}{{n}}{{'?sortby='+sortby}}{{query==''?'':'&q='+query}}">
				<span class="sr-only" ng-show="n==currentPage">
				
				</span>
				{{n}}
			</a>
		</li>

		<li ng-show="currentPage!=lastPage && lastPage!=0">
			<a href="{{adsListAddressPattern}}{{currentPage*1+1}}{{'?sortby='+sortby}}{{query==''?'':'&q='+query}}" aria-label="Next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</li>

	</ul>
</nav>