<div class="container-fluid">
	<div class="row"></div>
<div class="row main" >
 
  <div class="col-md-7 text-center">
  		<img src="">
  </div>
  
  
  <div class="col-md-5 text-center ">
  	<div class="btn">
  		<button type="submit" class="btn btn-info">Войти</button>
  		<button type="submit" class="btn btn-info">Регистрация</button>
	</div>
	

  </div>
  

</div>
<div class="row">
  <div class="col-md-7"></div>
  <div class="col-md-5 text-center">
  	<div class="btn2">
  		<button type="submit" class="btn btn-large  btn-primary ">Подать объявление</button>
  	</div>
  </div>
</div>

</div>