<h2 ng-hide="register">Авторизация</h2>
<h2 ng-show="register">Регистрация</h2>
<form class="form-horizontal">
  <div class="form-group" ng-class="{'has-error':hasErrors.login}">
    <label for="inputEmail3" class="col-sm-2 control-label">Логин</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputEmail3" placeholder="login" ng-model="login">
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error':hasErrors.password}">
    <label for="inputPassword3" class="col-sm-2 control-label">Пароль</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="inputPassword3" placeholder="" ng-model="password">
    </div>
  </div>
  <div class="form-group" ng-show="register" ng-class="{'has-error':hasErrors.name}">
    <label for="inputName" class="col-sm-2 control-label">ФИО</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputName" placeholder="" ng-model="name">
    </div>
  </div>
  <div class="form-group" ng-show="register" ng-class="{'has-error':hasErrors.email}">
    <label for="inputEmail" class="col-sm-2 control-label">Почта</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="inputEmail" placeholder="" ng-model="email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <button type="submit" class="btn btn-default" ng-hide="register" ng-click="enter()">Вход</button>
        <button type="submit" class="btn btn-default" ng-click="register=!register" ng-hide="register">Регистрация</button>
        <button type="submit" class="btn btn-default" ng-click="register=!register" ng-show="register">Назад</button>
        <button type="submit" class="btn btn-default" ng-show="register" ng-click="reg()">Продолжить</button>
    </div>
  </div>
</form>